.first_body {
        margin: 10px;
        border: 5px double black;
        outline: 3px solid black;
        text-align: center;
        font-family: "Times New Roman", 
}

.second_body {
    margin: 10px;
    border: 5px double black;
    outline: 3px solid black;
    text-align: center;
    font-family: "Times New Roman", 
}

.ingredients_style {
    color:black;
    font-family:"Times New Roman";
    size: 30px;
    list-style-type: diamond;
    padding: 30px 175px;
    text-align: left
  }

/*ImageStyles*/


.gfg {
    width:auto;
    text-align:center;
    padding:20px;
    
}
img {
    max-width:100%;
    height:auto;
}



  
  
  